@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700;900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}   

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}

/* App.css */

body.dark {
  --bg-color: #ffffff;
  --text-color: #343541;
}

body.light {
  --bg-color: #ffffff;
  --text-color: #343541;
}

body {

  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
   font-family: 'Courier New', Courier, monospace;

  transition: background-color 0.3s, color 0.3s;
}

.purple-button {
  background-color: #BF00FF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.purple-button:hover {
  background-color: #4c0464;
}

/* buttons.css */
.button {
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: none;
}

/* Edit Button */
.edit-button {
  background-color: #1976d2 ;
  color: #1976d2 !important;
  height: fit-content;
  box-shadow: 0 3px 6px rgba(25, 118, 210, 0.3);
}

.edit-button:hover {
  background-color: #1565c0 !important;
  box-shadow: 0 6px 10px rgba(21, 101, 192, 0.4);
}

/* Delete Button */
.delete-button {
  background-color: #d32f2f ;;
  color: 3d32f2f;
  box-shadow: 0 3px 6px rgba(211, 47, 47, 0.3);
  height: fit-content;
  margin: '2px';
}

.delete-button:hover {
  background-color: #b71c1c !important;
  box-shadow: 0 6px 10px rgba(183, 28, 28, 0.4);
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.carousel-image {
  object-fit: cover;
  width: 100%;
  height: auto; /* allows image height to adjust */
  max-height: 100vh; /* doesn't overflow vertically */
}


